{% if item.caption == '*' %}
<span class="image{{ item.align ? ' '~item.align : '' }}">
    {{ item.content|replace( {'alt="*"': ''} ) }}    
</span>
{% else %}
<div class="figure{{ item.align ? ' '~item.align : '' }}" id="{{ item.slug }}">
    {{ item.content }}

{% if item.caption != '' %}
    <p class="caption"><strong>{{ item.label }}</strong> {{ item.caption }}</p>
{% endif %}
</div>
{% endif %}