<div class="page:cover new-page">
    <h2>{{ book.author|upper }}</h2>
    <hr/>
    <h1>{{ book.title|reverse|capitalize }}</h1>
    
    <p>{{ book.edition }}</p>
    
    <pre>
        Edition debug info
        -------------------------------------------------
        format         : {{ edition.format }}
        auto_label     : {{ edition.auto_label     ? 'true' : 'false' }}
        include_styles : {{ edition.include_styles ? 'true' : 'false' }}
        highlight_code : {{ edition.highlight_code ? 'true' : 'false' }}
        toc deep       : {{ edition.toc.deep }}
        toc elements   : {{ edition.toc.elements|join(', ') }}
    </pre>
</div>
