{% extends 'layout.twig' %}

{% block class 'index' %}

{% block body %}
<div class="item cover">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
</div>

{% if edition.toc is defined %}
<div class="item toc">
    <ul class="unstyled">
    {% for tocItem in toc if tocItem.level <= edition.toc.deep %}
        <li class="{{ tocItem.config.element|default('') }} level-{{ tocItem.level }}">
            <span>{{ tocItem.label }}</span>
            <a href="./{{ tocItem.url }}">{{ tocItem.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}