<!doctype html>
<html lang="{{ book.language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="{{ book.author }}" />
    <meta name="date" content="{{ book.publication_date|default('now')|date(app.getLabel('date_format')) }}"/>
    <meta name="generator" content="{{ book.generator.name }} {{ book.generator.version }}"/>

    <title>{% block title %}{% endblock %} {{ '' != block('title') ? '|' : '' }} {{ book.title }}</title>

{% if edition.include_styles %}
    <link rel="stylesheet" href="{{ 2 == item.level ? '..' : '.' }}/css/easybook.css" />
{% endif %}

{% if has_custom_css|default(false) %}
    <link rel="stylesheet" href="{{ 2 == item.level ? '..' : '.' }}/css/styles.css" />
{% endif %}
</head>

<body class="{% block class %}item {{ item.config.element }}{% endblock %}">
<div class="container">
{% block body %}{% endblock %}
</div>
</body>
</html>