<div data-role="footer" data-theme="d" data-position="fixed" data-id="footer">
    
    <div class="ui-bar">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="" class="showMenu" data-role="button" data-theme="c" 
                    data-icon="grid">{{ app.getLabel('toc') }}</a>
            <a href="" class="toTop" data-role="button" data-theme="c" 
                    data-icon="arrow-u">{{ app.getLabel('top') }}</a>
        </div>
        
        <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="#{{ item.previous }}" data-role="button" data-theme="c" 
                data-icon="arrow-l" class="{{ item.previous ? '' : 'ui-disabled' }}">{{ app.getLabel('previous') }}</a>
          		  
            <a href="#{{ item.next }}" data-role="button" data-theme="c"
                data-icon="arrow-r" class="{{ item.next ? '' : 'ui-disabled' }}">{{ app.getLabel('next') }}</a>
        </div>
    </div>
</div>
<!-- /footer -->
