<div data-role="header" data-theme="d" data-id="header">

    <a href="" class="showMenu" data-role="button" 
           data-theme="c" data-icon="grid">{{ app.getLabel('toc') }}</a>

    <h1>{{ book.title }}</h1>
	<h2>{{ item.title }}</h2>
	
    <div data-role="controlgroup" data-type="horizontal" class="ui-bar ui-btn-right">
        <a href="#{{ item.previous }}" data-theme="c" 
            data-icon="arrow-l" class="{{ item.previous ? '' : 'ui-disabled' }}">{{ app.getLabel('previous') }}</a>
      		  
        <a href="#{{ item.next }}" data-theme="c"
            data-icon="arrow-r" class="{{ item.next ? '' : 'ui-disabled' }}">{{ app.getLabel('next') }}</a>
    </div>    

</div>
<!-- /header -->
