<!doctype html>
<html lang="{{ book.language }}">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="author" content="{{ book.author }}" />
    <meta name="date" content="{{ book.publication_date|default('now')|date(app.getLabel('date_format')) }}"/>
    <meta name="generator" content="{{ book.generator.name }} {{ book.generator.version }}"/>

    <title>{{ book.title }}</title>

    <link rel="stylesheet" href="./js/jquery/jquery.mobile-1.2.0-rc.2.min.css" />

{% if edition.include_styles %}
    <link rel="stylesheet" href="./css/easybook.css" />
{% endif %}

{% if has_custom_css|default(false) %}
    <link rel="stylesheet" href="./css/styles.css" />
{% endif %}
     
    <script src="./js/jquery/jquery-1.7.2.min.js"></script>
    <script src="./js/jquery/jquery.mobile-1.2.0-rc.2.min.js"></script>
    
    <script src="./js/code.js"></script>
    <script src="./js/book.js"></script>
</head>

<body><div class="container">

{% for item in items %}
    {{ item.content }}
{% endfor %}

</div></body>
</html>