{% extends 'layout.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
{% set urlBasePath = 2 == item.level ? '..' : '.' %}
{% set navigation %}
<ul class="chunk_nav">
    <li class="index"><a href="{{ urlBasePath }}/index.html">{{ book.title }}</a></li>

    <li class="nav">
        <div class="previous">
            {% if previous %}
                <a href="{{ urlBasePath }}/{{ previous.url }}"><span>&larr;</span> {{ app.getLabel('previous') }}</a>
            {% endif %}
        </div>

        <div class="next">
            {% if next %}
                <a href="{{ urlBasePath }}/{{ next.url }}">{{ app.getLabel('next') }} <span>&rarr;</span></a>
            {% endif %}
        </div>
    </li>
</ul>
{% endset %}

{{ navigation }}

<h1 id="{{ item.slug }}"><span>{{ item.label }}</span> {{ item.title }}</h1>

<ul id="chunk_toc">
{% if 1 == edition.chunk_level %}
    {% for tocItem in item.toc if tocItem.level <= edition.toc.deep %}
        <li class="level-{{ tocItem.level }}">
            <span>{{ tocItem.level != 1 ? tocItem.label : '' }}</span>
            <a href="#{{ tocItem.slug }}">{{ tocItem.title }}</a>
        </li>
    {% endfor %}
{% elseif 2 == edition.chunk_level %}
    {# in the following code, the 'default()' condition takes into account that
       level-1 items don't have a parent item #}
    {% for tocItem in toc if tocItem.level <= edition.chunk_level|default(edition.toc.deep) 
       and tocItem.parent.slug|default(tocItem.slug) == item.parent.slug|default(item.slug) %}
        <li class="level-{{ tocItem.level }}">
            <span>{{ tocItem.label }}</span>
            <a href="{{ urlBasePath }}/{{ tocItem.url }}">{{ tocItem.title }}</a>
        </li>
    {% endfor %}
{% endif %}
</ul>

{{ item.content }}

{{ navigation }}
{% endblock %}