{% extends 'layout.twig' %}

{% block class 'index' %}

{% block body %}
<div class="item cover">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
</div>

{% if edition.toc is defined %}
<div class="item toc">
    <h1>{{ items.toc.title }}</h1>
    <ul>
    {% for tocItem in toc if tocItem.level <= edition.toc.deep %}
        <li class="{{ tocItem.config.element|default('') }} level-{{ tocItem.level }}">
            <span>{{ tocItem.label }}</span>
            <a href="./{{ tocItem.url }}">{{ tocItem.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if items.edition is defined %}
<div class="item edition">
    <h1>{{ items.edition.title }}</h1>
    {{ items.edition.content }}
</div>
{% endif %}

{% if items.license is defined %}
<div class="item license">
    <h1>{{ items.license.title }}</h1>
    {{ items.license.content }}
</div>
{% endif %}
{% endblock %}