{% extends 'chunk.twig' %}

{% block content %}
<div class="item lof">

<h1>{{ item.title }}</h1>

<ul>
{% for item in app.get('publishing.list.images') if item|length > 0 %}
    {% for entry in item %}
        {% if entry.item.caption is empty %}
            <li><a href="#{{ entry.item.slug }}">
                <span>{{ app.getLabel('figure', entry) }}</span>
            </a></li>
        {% else %}
            <li>
                <span>{{ entry.element.number }}.{{ entry.item.number }}</span>
                <a href="#{{ entry.item.slug }}">{{ entry.item.caption }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

</div>
{% endblock %}